{% extends 'layout/base.html' %}

{% block layout %}
	<div class="content" id="content">
		<div class="survey-form-container" id="survey-form-container">
			<form id="survey-form" method="POST" action="">
				{% csrf_token %}
				<ul class="question-list-container" id="question-list-container">
					<li class="question">
						<div class="question-container" id="question-container">
							<p> What's the max amount you think you need to withdraw from the ATM in a day?</p>
						</div>
						<ul class="options-container" id="options-container">
							<li>
								<input type="radio" name="cash_withdraw" value="a" checked><p>Less than or equal to Rs. 75 Thousand</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="b" ><p>Less than or equal to Rs. 1.25 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="c" ><p>Less than or equal to Rs. 1.75 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="d" ><p>Less than or equal to Rs. 2.25 Lacs </p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="e" ><p>More than Rs. 2.25 Lacs </p>
							</li>
						</ul>
					</li><li class="question">
						<div class="question-container" id="question-container">
							<p> What's the max amount you think you need to withdraw from the ATM in a day?</p>
						</div>
						<ul class="options-container" id="options-container">
							<li>
								<input type="radio" name="cash_withdraw" value="a" checked><p>Less than or equal to Rs. 75 Thousand</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="b" ><p>Less than or equal to Rs. 1.25 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="c" ><p>Less than or equal to Rs. 1.75 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="d" ><p>Less than or equal to Rs. 2.25 Lacs </p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="e" ><p>More than Rs. 2.25 Lacs </p>
							</li>
						</ul>
					</li><li class="question">
						<div class="question-container" id="question-container">
							<p> What's the max amount you think you need to withdraw from the ATM in a day?</p>
						</div>
						<ul class="options-container" id="options-container">
							<li>
								<input type="radio" name="cash_withdraw" value="a" checked><p>Less than or equal to Rs. 75 Thousand</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="b" ><p>Less than or equal to Rs. 1.25 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="c" ><p>Less than or equal to Rs. 1.75 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="d" ><p>Less than or equal to Rs. 2.25 Lacs </p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="e" ><p>More than Rs. 2.25 Lacs </p>
							</li>
						</ul>
					</li><li class="question">
						<div class="question-container" id="question-container">
							<p> What's the max amount you think you need to withdraw from the ATM in a day?</p>
						</div>
						<ul class="options-container" id="options-container">
							<li>
								<input type="radio" name="cash_withdraw" value="a" checked><p>Less than or equal to Rs. 75 Thousand</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="b" ><p>Less than or equal to Rs. 1.25 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="c" ><p>Less than or equal to Rs. 1.75 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="d" ><p>Less than or equal to Rs. 2.25 Lacs </p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="e" ><p>More than Rs. 2.25 Lacs </p>
							</li>
						</ul>
					</li><li class="question">
						<div class="question-container" id="question-container">
							<p> What's the max amount you think you need to withdraw from the ATM in a day?</p>
						</div>
						<ul class="options-container" id="options-container">
							<li>
								<input type="radio" name="cash_withdraw" value="a" checked><p>Less than or equal to Rs. 75 Thousand</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="b" ><p>Less than or equal to Rs. 1.25 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="c" ><p>Less than or equal to Rs. 1.75 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="d" ><p>Less than or equal to Rs. 2.25 Lacs </p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="e" ><p>More than Rs. 2.25 Lacs </p>
							</li>
						</ul>
					</li><li class="question">
						<div class="question-container" id="question-container">
							<p> What's the max amount you think you need to withdraw from the ATM in a day?</p>
						</div>
						<ul class="options-container" id="options-container">
							<li>
								<input type="radio" name="cash_withdraw" value="a" checked><p>Less than or equal to Rs. 75 Thousand</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="b" ><p>Less than or equal to Rs. 1.25 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="c" ><p>Less than or equal to Rs. 1.75 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="d" ><p>Less than or equal to Rs. 2.25 Lacs </p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="e" ><p>More than Rs. 2.25 Lacs </p>
							</li>
						</ul>
					</li><li class="question">
						<div class="question-container" id="question-container">
							<p> What's the max amount you think you need to withdraw from the ATM in a day?</p>
						</div>
						<ul class="options-container" id="options-container">
							<li>
								<input type="radio" name="cash_withdraw" value="a" checked><p>Less than or equal to Rs. 75 Thousand</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="b" ><p>Less than or equal to Rs. 1.25 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="c" ><p>Less than or equal to Rs. 1.75 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="d" ><p>Less than or equal to Rs. 2.25 Lacs </p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="e" ><p>More than Rs. 2.25 Lacs </p>
							</li>
						</ul>
					</li><li class="question">
						<div class="question-container" id="question-container">
							<p> What's the max amount you think you need to withdraw from the ATM in a day?</p>
						</div>
						<ul class="options-container" id="options-container">
							<li>
								<input type="radio" name="cash_withdraw" value="a" checked><p>Less than or equal to Rs. 75 Thousand</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="b" ><p>Less than or equal to Rs. 1.25 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="c" ><p>Less than or equal to Rs. 1.75 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="d" ><p>Less than or equal to Rs. 2.25 Lacs </p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="e" ><p>More than Rs. 2.25 Lacs </p>
							</li>
						</ul>
					</li>
				</ul>
				<button type="submit" id="search-form-submit" class="search-form-submit">Search</button>
			</form>
		</div>
	</div>
{% endblock layout %} 