{% extends 'layout/base.html' %}

{% block layout %}
	<div class="content" id="content">
		<div class="survey-form-container" id="survey-form-container">
			<div class="head-message" id="head-message">
				<p>Complete the short survey below, and we'll get you credit cards as per your needs..!!</p>
			</div>
			<form id="survey-form" method="POST" action="cards">
				{% csrf_token %}
				<ul class="question-list-container" id="question-list-container">
					<li class="question">
						<div class="question-container" id="question-container">
							<p>1.  What's the max amount you think you need to withdraw from the ATM in a day?</p>
						</div>
						<ul class="options-container" id="options-container">
							<li>
								<input type="radio" name="cash_withdraw" value="0" checked><p>Less than or equal to Rs. 75 Thousand</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="1" ><p>Less than or equal to Rs. 1.25 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="2" ><p>Less than or equal to Rs. 1.75 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="3" ><p>Less than or equal to Rs. 2.25 Lacs </p>
							</li>
							<li>
								<input type="radio" name="cash_withdraw" value="4" ><p>More than Rs. 2.25 Lacs </p>
							</li>
						</ul>
					</li>
					<li class="question">
						<div class="question-container" id="question-container">
							<p>2. How much do you think you'll pay using card swipes in a day?</p>
						</div>
						<ul class="options-container" id="options-container">
							<li>
								<input type="radio" name="cash_swipe" value="0" checked><p>Less than or equal to Rs. 1.25 Lac</p>
							</li>
							<li>
								<input type="radio" name="cash_swipe" value="1" ><p>Less than or equal to Rs. 1.75 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_swipe" value="2" ><p>Less than or equal to Rs. 2.25 Lacs</p>
							</li>
							<li>
								<input type="radio" name="cash_swipe" value="3" ><p>Less than or equal to Rs. 2.75 Lacs </p>
							</li>
							<li>
								<input type="radio" name="cash_swipe" value="4" ><p>More than Rs. 2.75 Lacs </p>
							</li>
						</ul>
					</li>
					<li class="question">
						<div class="question-container" id="question-container">
							<p>3. At max, how much will you spend on online shopping using your card in a day?</p>
						</div>
						<ul class="options-container" id="options-container">
							<li>
								<input type="radio" name="online_shopping" value="0" checked><p>Less than or equal to Rs. 1.25 Lacs</p>
							</li>
							<li>
								<input type="radio" name="online_shopping" value="1" ><p>Less than or equal to Rs. 1.75 Lacs</p>
							</li>
							<li>
								<input type="radio" name="online_shopping" value="2" ><p>Less than or equal to Rs. 2.25 Lacs </p>
							</li>
							<li>
								<input type="radio" name="online_shopping" value="3" ><p>Less than or equal to Rs. 2.75 Lacs </p>
							</li>
							<li>
								<input type="radio" name="online_shopping" value="4" ><p>More than Rs. 2.75 Lacs </p>
							</li>
						</ul>
					</li>
					<li class="question">
						<div class="question-container" id="question-container">
							<p>4. How frequently do you take flights to go places?</p>
						</div>
						<ul class="options-container" id="options-container">
							<li>
								<input type="radio" name="flight" value="0" checked><p>Never / Once or Twice an year</p>
							</li>
							<li>
								<input type="radio" name="flight" value="1" ><p>Two to Four times in six months</p>
							</li>
							<li>
								<input type="radio" name="flight" value="2" ><p>Atleast twice a month</p>
							</li>
							<li>
								<input type="radio" name="flight" value="3" ><p>Atleast twice a week</p>
							</li>
						</ul>
					</li>
					<li class="question">
						<div class="question-container" id="question-container">
							<p>5. For what purpose do you drive your car?</p>
						</div>
						<ul class="options-container" id="options-container">
							<li>
								<input type="radio" name="car" value="0" checked><p>Emergency purpose only / Very rarely</p>
							</li>
							<li>
								<input type="radio" name="car" value="1" ><p>Outstations trips only</p>
							</li>
							<li>
								<input type="radio" name="car" value="2" ><p>To go places other than office in same city</p>
							</li>
							<li>
								<input type="radio" name="car" value="3" ><p>To go to office daily</p>
							</li> 
						</ul>
					</li>
					<li class="question">
						<div class="question-container" id="question-container">
							<p>6. How often do you go out to see a movie?</p>
						</div>
						<ul class="options-container" id="options-container">
							<li>
								<input type="radio" name="movie" value="0" checked><p>Never / Once or Twice an year</p>
							</li>
							<li>
								<input type="radio" name="movie" value="1" ><p>Two to Four times in six months</p>
							</li>
							<li>
								<input type="radio" name="movie" value="2" ><p>Atleast twice a month</p>
							</li>
							<li>
								<input type="radio" name="movie" value="3" ><p>Atleast twice a week</p>
							</li>
						</ul>
					</li>
				</ul>
				<div class="submit-button-container" id="submit-button-container">
					<button type="submit" id="survey-form-button" class="survey-form-button">Submit</button>
				</div>
			</form>
		</div>
	</div>
{% endblock layout %} 