body {
	margin: 0;
	background-color: #ededed;
	font-family: sans-serif;
}

li {
	list-style: inside none none;
}

a {
	text-decoration: none;
	color: #fff;
}

.header{
	height: 80px;
	text-align: center;
	background-color: #39424e;
	color: #ffffff;
}

.header h2{
	margin: 0;
	padding-top: 25px;
	height:40px;
	font-size: 20px;
}

.head-message{
	width: 85%;
	margin: auto;
	padding-top: 30px;
	font-size: 18px;
}

.card-name-heading {
	width: 85%;
	margin: auto;
	padding: 30px 0 0 45px;
}

.card-name-heading h2{
	font-size: 28px;
}



.survey-form-container, .content-body{
	width: 70%;
	margin: auto;
	margin-top: 35px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}

.question-list-container, .card-list{
	margin: auto;
	padding-top: 15px;
	width: 85%;
}

.question{
	margin-bottom: 30px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #EBEBEB;
}

.question-container {
	width: 88%;
	margin-bottom: 25px;
}

.options-container {
	padding-bottom: 20px;
}

.options-container p{
	display: inline;
	font-size: 14px;
	padding: 0 0 0 12px;
}

.options-container li{
	margin: 0 0 15px 0;
}

.submit-button-container{
	margin: auto;
	padding-bottom: 30px;
	width: 120px;
	height: 40px;
}

.survey-form-button{
	height: 35px;
	width: 110px;
	border: none;
	border-radius: 3px;
	background-color: #29b35b;
	color: #fff;
}

.card {
	height: 175px;
}

td {
	padding-left: 65px;
}

.card-info-container{
	height: 150px;
}

.card-info-container h3{
	margin-top: -30px;
}

.card-info-container p, .card-info-container h4{
	display: inline-block;
	font-size: 13px;
	margin: 5px 0 5px 0;
}

.card-info-container p#left {
	width: 200px;
}

.card-container {
	width: 80%;
	margin: auto;
}

.card-big-image-container{
	width: 35%;
	display: inline;
}

.card-big-image-container img{
	height: 120px;
	width: 190px;
}

.card-details-container {
	width: 60%;
	display: inline;
}

.card-feature{
	font-size: 13px;
	color: #737373;
	width: 255px;
}

.colon, .card-feature, .card-feature-value{
	display: inline-block;
	margin: 10px 0 10px 0;
}

.card-feature-value{
	padding-left: 20px;
}

.card-features{
	padding-bottom: 40px;
}